Fabric==1.10.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.8.1
SQLAlchemy==0.9.7
Werkzeug==0.9.6
copytext==0.1.5
csvkit==0.8.0
dbf==0.94.003
ecdsa==0.13
itsdangerous==0.24
jdcal==1.0
openpyxl==2.0.5
paramiko==1.15.2
pycrypto==2.6.1
python-dateutil==1.5
six==1.7.3
wsgiref==0.1.2
xlrd==0.9.3
