body {
	font-family: 'PT Sans', sans-serif;
	color: white;
	transition: background 0.2s, color 0.2s;
	background-color: #3584A2;
	height:100%;
}

.btn {
	background-color: rgba(255,255,255,1);	
	color: #3584A2;
	transition: background 0.2s, color 0.2s;
	font-weight: bold;
	font-size: 12pt;
	border-radius: 1%;
	cursor: pointer;
}

.fa {
	font-size: 24px;
}

.fact-photo {
	display: none;
	margin-bottom: 10px;
}

.header {
	position: absolute;
	top: 0px;
	width: 100%;
	padding-top: 3px;
	padding-left: 10px;
	height: 30px;
	background-color: #333;
}

.header .fa {
	margin-right: 10px;
}

.logo {
	margin: 30px;
}

.logo img {
	height:80px;
}

a {
	color:white;
}

.next {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 20px;
	background-color: #333;
	transition: color 0.2s, color 0.2s;
	width: 100%;
	padding: 20px;
}


.container {
	width: 100%;
}

.fact {
	font-size: 3em;
	margin:25px;
}

.fa-refresh {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;    
    border-radius: 50%;
    line-height: 50px;
    margin-right: .75em;
    color:white;
	width: 50px;
	height: 50px;
}
 
.fa-refresh:hover {
    background: rgba(255,255,255,1);
	color: #3584A2;
  	-webkit-animation: spin 2s infinite linear;
  	-moz-animation: spin 2s infinite linear;
  	-o-animation: spin 2s infinite linear;
  	animation: spin 2s infinite linear;
}

.modal-content {
	background-color: #3584A2;
}

.modal-btn {
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 0px;
	width:100%;
	padding-top: 10px;
	font-size: 3em;
}

.social a:hover, .fa-camera:hover {
	color:#333;
}

.social .fa {
	margin: 10px;
}

/*Media queries*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.btn {
		font-size: 20px;
	}
	.next, .social .fa {
		font-size: 32px;
	}
	.logo img {
		height:100px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.btn {
		font-size: 30px;
	}
	.next, .social .fa {
		font-size: 40px;
	}
	.logo img {
		height:120px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {

}