body {
	font-family: 'PT Sans', sans-serif;
	color: white;
	transition: background 0.2s, color 0.2s;
	background-color: #3584A2;
	height:100%;
}

.story {
	/*background-color: rgba(255,255,255,1);	*/
	color: #fff;
	transition: background 0.2s, color 0.2s;
	font-weight: bold;
	font-size: 12pt;
	border-radius: 5px;
	border: 2px solid #fff;
	cursor: pointer;
	padding:5px 10px;
	font-size: 14px;
}

.fa-question-circle {
	font-size: 18px;
	padding-top: 4px;
}

.social .fa {
	font-size: 24px;
	border: 2px solid rgba(0,0,0,0);
}

.fa-question-circle {
	cursor:pointer;
}

.fact-photo {
	display: none;
	margin-bottom: 10px;
}

.header {
	position: absolute;
	top: 0px;
	width: 100%;
	padding-top: 3px;
	padding-left: 10px;
	height: 30px;
	background-color: #333;
}

.header .fa {
	margin-right: 10px;
}

.logo {
	margin: 45px 10px 10px 10px;
}

.logo img {
	height:50px;
}

a {
	color:white;
}

.next {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 24px;
	background-color: #333;
	transition: color 0.2s, color 0.2s;
	width: 100%;
	padding: 15px;
}

.social .fa {
	font-size: 24px;
}

.container {
	width: 100%;
}

.fact {
	font-size: 3em;
	margin:0px 10px;
	text-align: left;
}

.fa-refresh {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;    
    border-radius: 50%;
    line-height: 50px;
    margin-right: .75em;
    color:white;
	width: 50px;
	height: 50px;
}
 
.footer:hover .fa-refresh {
    background: rgba(255,255,255,1);
	color: #3584A2;
  	-webkit-animation: spin 2s infinite linear;
  	-moz-animation: spin 2s infinite linear;
  	-o-animation: spin 2s infinite linear;
  	animation: spin 2s infinite linear;
}

.modal-content {
	background-color: #3584A2;
}

.modal-btn {
	cursor: pointer;
}

/* photo modal styles*/
#photoModal .modal-content {
	background-color: #3584A2;
}

#photoModal .modal-btn {
	cursor: pointer;
}

#photoModal .modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0 auto;
}

#photoModal .modal-content {
	height: 100%;
	max-width:100%;
	border-radius: 0;
	background-repeat:no-repeat;
	background-position:center; 
	background-size: contain;
	background-color: rgba(51, 51, 51, 0);
}

#photoModal .modal-body {
    display: block;
    height: 0;
    overflow:visible;
}

#photoModal .close {
	font-size:44px;
	color:#fff;
	opacity:.75;
	margin:10px 10px;
}

#photoModal .modal-caption {
	width:100%;
	background-color: rgba(51, 51, 51, 0.5);
	position:absolute;
	bottom:0;
}

.caption-text {
	width:90%;
	padding:1em 0px;
	color:#fff;
	font-family:'Roboto',Arial,sans-serif;
	line-height: 36px;
	font-size:12px;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
    -webkit-text-shadow: 2px 2px 2px #333;
	-moz-text-shadow:    2px 2px 2px #333;
	text-shadow:         2px 2px 2px #333;
}

.footer {
	position: absolute;
	bottom: 0px;
	width:100%;
	font-size: 3em;
	cursor:pointer;
}

.story:hover, .social .fa:hover, .fa-camera:hover {
	background-color: #fff;
	color: #3584A2;
	text-decoration: none;
	transition: background 0.2s, color 0.2s, border 0.2s;
	border: 2px solid #fff;
	border-radius: 4px;
}

.fa-camera {
	border: 2px solid rgba(0,0,0,0);
}

.social .fa, .fa-camera {
	margin: 10px;
	padding: 2px;
}

.social.donate {
	margin-top: 20px;
}

.social.donate .story {
	font-size: 24px;
}

/*Media queries*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.social .fa {
		font-size: 32px;
	}
	.next {
		font-size: 36px;
	}
	.story {
		font-size: 18px;
	}
	.logo img {
		height:90px;
	}
	.fact {
		margin:0px 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.story {
		font-size: 20px;
		border-size:4px;
	}
	.next, .social .fa, {
	}
	.logo img {
		height:100px;
	}
	.fact {
		margin:0px 10px;
	}
	.caption-text {
		font-size: 16px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
	.fact {
		margin:0px 15px;
	}

}