
<div class="footer">

	<center><a href="http://twitter.com/home?status={{data.FactText}} http://curiouscityfacts.com{{request.path}}" data-url="{{data.FactTweet}}" "pull right"><i class="fa fa-twitter"></a></i>
	<a href="https://www.facebook.com/sharer/sharer.php?u=http://curiouscityfacts.com{{request.path}}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="mailto:Subject=Cool%20fact%20from%20Curious%20City"><i class="fa fa-paper-plane"></i></a><br>
	<a class="btn btn-default btn-lg" href="{{data.StoryUrl}}" role="button">FULL STORY</button></a>
	<span class="next"><i class="fa fa-refresh"></i>Still Curious?</span></p>
</div>