{% extends "base.html" %}
{% block content %}
		
<div class="card text-center">
	{% include "%s.html"|format(data.Template) ignore missing %}
</div>
	

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">What is the Curious City Fact Generator?</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes, though, we just want to see those bits on their own. That's why we created the Curious City Fact Generator.</p>
        <p>Every story at Curious City is a collection of smaller parts -- individual statements, moments and findings we wanted to share with you that added up to a larger whole.</p>
        <p>We collected our favorite facts from Curious City stories -- how many bats species live in Chicago, how much it costs to clean the Bean -- and put them together in an easy to use app you can browse anywhere.</p>
        <p>Click the Curious Button and a new fact will generate. Find one you like and you can click to read the investigation it came from, or share it with your friends.</p>
        <p>We hope you like this as much as we do. Let us know what you think at curiouscity@wbez.org or @WBEZCuriousCity, or visit us as wbez.org/curiouscity.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel">What is the Curious City Fact Generator?</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes, though, we just want to see those bits on their own. That's why we created the Curious City Fact Generator.</p>
        <p>Every story at Curious City is a collection of smaller parts -- individual statements, moments and findings we wanted to share with you that added up to a larger whole.</p>
        <p>We collected our favorite facts from Curious City stories -- how many bats species live in Chicago, how much it costs to clean the Bean -- and put them together in an easy to use app you can browse anywhere.</p>
        <p>Click the Curious Button and a new fact will generate. Find one you like and you can click to read the investigation it came from, or share it with your friends.</p>
        <p>We hope you like this as much as we do. Let us know what you think at curiouscity@wbez.org or @WBEZCuriousCity, or visit us as wbez.org/curiouscity.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
var factID = '{{ factID }}';
var count = '{{ factCount }}';
var newColor;
backgrounds = ['#3584A2','#4cbde7','#64b278','#77b23e','#e7764c','#f0aa8f','#774ce7','#aa8ff0']

$( document ).ready(function() {
	var clicks = 0;
	var give_us_money = '<div class="title front fact" id="{{data.ID}}">GIVE US MONEY</div><span class="next pull-right"><i class="fa fa-refresh text-center"></i>Still Curious?</span>'
	var visited = new Array();
	visited.push(factID);

	// The next button. Adds a click and then kicks off the changing of the fact
	$(document).on( 'click', '.next', function(e) {
		clicks++;
		newColor = backgrounds[Math.floor((Math.random()*backgrounds.length))];
		$('body,.modal-content').css({
        	'background-color': newColor
    	});
		$('.fact').animate({
    		opacity:0, 
    	}, 250, function(){
			changeFact();
		});
	});

	// Checks number of clicks to see if a callout shoud happen. If not, get a new fact
    function changeFact(){
		if (clicks % count == 0){
			visited = [];
		};
		if ((clicks % 5) == 0 && clicks > 0) {
			history.pushState({}, '', "give_us_money");
			$('.card').html(give_us_money);
		} else {
			getNewFact();
		};
	};

	// Calls for a new fact, checks if it's already been seen. If not, update the template, if so, get another
	function getNewFact(callback){
		$.get('/random',function(data){
			if ($.inArray(data,visited) != -1) {
				getNewFact();
			} else {
				updateTemplate(data);
			}
		});
	};

	// Take a fact ID and update the template
	function updateTemplate(entryID){
		$('.card').load("/html/"+entryID,function(){
			$(".fa-refresh").hover(
				function(){$('.fa-refresh').css('color',newColor)},
				function(){$('.fa-refresh').css('color','white')}
			);
			
			$('.btn').css('color',newColor)

			$('.fa-camera').click(function(){
				console.log('photo time');
				resizePhoto();
				$('.fact-photo').toggle();  
				$('.fact').toggle();
			})

			// $('.fact').flowtype({
			//    minimum : 768,
			//    maximum : 1200,
			//    fontRatio : 30
			// });
				
		});
		visited.push(entryID);
		history.pushState({}, '', entryID);
	};

	$('.modal-btn').click(function(){
		$('.modal').modal('toggle');
	})
	
	// $('.fa-camera').click(function(){
	// 	console.log('photo time');
	// 	resizePhoto();
	// 	$('.fact-photo').toggle();
	// 	$('.fact').toggle();
	// })
	// $('.fact').flowtype({
	//    minimum : 480,
	//    maximum : 1200,
	// });

	var resizeText = function() {
		var cheight = $(window).height() - $('.header').outerHeight( true ) - $('.logo').outerHeight( true ) - $('.social').outerHeight( true ) - $('.social').outerHeight( true );
		console.log($('.fact').outerHeight()+' '+cheight+' '+$('.fact').css('font-size'));
	    while( $('.fact').outerHeight() > cheight && cheight > 0) {
	        $('.fact').css('font-size', (parseInt($('.fact').css('font-size')) - 1) + "px" );
	    }
	};

	resizeText();

	var resizePhoto = function () {
		var cwidth = $('.container').width();
		var cheight = $(window).height() - $('.header').outerHeight( true ) - $('.logo').outerHeight( true ) - $('.next').outerHeight( true ) - $('.social').outerHeight( true );
		var ratio = $('.fact-photo').height()/$('.fact-photo').width();
		console.log("Width, height and ratio are "+cwidth,cheight,ratio);
		if (cheight > cwidth) {
			$('.fact-photo').width(cwidth);
			$('.fact-photo').height(cwidth*ratio);
		} else {
			$('.fact-photo').width(cheight/ratio);
			$('.fact-photo').height(cheight);
		}
	};

	$('.initiator').on('mouseenter mouseleave', function(e) {
	    $('.receiver').trigger(e.type);
	})

	$( window ).resize(function() {
		resizeText();
	});

});


</script>



{% endblock %}