{% extends "base.html" %}
{% block content %}
		
<div class="card text-center">
	{% include "%s.html"|format(data.Template) ignore missing %}
</div>
{% include 'footer.html' %}
	

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">What is the Curious City Fact Generator?</h4>
      </div>
      <div class="modal-body">
      	<p>The fact generator is produced through WBEZ’s Curious City, an ongoing project that answers the public’s questions about Chicago, the region and its people.</p>

        <p>Often, the stories are comprehensive, providing a lot of context, history and perspective. But sometimes we find that short, juicy snippets really grab your attention.</p>

		<p>The fact generator is where we collect the best of these snippets — how many bats species live in Chicago, how much it costs to clean the Bean sculpture downtown — and put them together in a fun app you can browse anywhere.</p>

		<p>Click the Still Curious button to generate a new fact. Find one you like and you can click to read the investigation it came from, or share it with your friends.</p>
		
		<p>Love something you see? Got a beef with one of our facts? Or, just want to learn more? Hit us up: curiouscity@wbez.org, or @WBEZCuriousCity, or visit our website.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
        <h4 class="modal-title" id="aboutModalLabel">What is the Curious City Fact Generator?</h4>
      </div>
      <div class="modal-body">
        <p>The fact generator is produced through <a href="http://www.wbez.org/curiouscity">WBEZ’s Curious City</a>, an ongoing project that answers the public’s questions about Chicago, the region and its people.</p>

		<p>Our stories provide a lot of context, history and perspective, but we also love juicy factual snippets that grab your attention. The fact generator collects the best in a fun app you can browse anywhere.</p>

		<p>Click the “Still Curious?” button to generate a new fact. Find one you want to know more about? Click “Full story” or other leads to learn more. Or, just share the fact with your friends.</p>
	
		<p>Love something you see? Got a beef with one of our facts? Want to learn more? Hit us up: write curiouscity@wbez.org or grab our attention on Twitter <a href="https://www.twitter.com/WBEZCuriousCity">@WBEZCuriousCity.</a></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
var factID = '{{ factID }}';
var count = '{{ factCount }}';
var newColor;
backgrounds = ['#3584A2','#4cbde7','#64b278','#77b23e','#e7764c','#f0aa8f','#774ce7','#aa8ff0']

$( document ).ready(function() {
	var clicks = 0;
	var visited = new Array();
	visited.push(factID);

	// The next button. Adds a click and then kicks off the changing of the fact
	$(document).on( 'click', '.next', function(e) {
		clicks++;
		newColor = backgrounds[Math.floor((Math.random()*backgrounds.length))];
		$('.fact').animate({
    		opacity:0, 
    	}, 250, function(){
			changeFact();
		});
	});

	// Checks number of clicks to see if a callout shoud happen. If not, get a new fact
    function changeFact(){
		if (clicks % count == 0){
			visited = [];
		};
		if ((clicks % 5) == 0 && clicks > 0) {
			visited.push('donate');
			history.pushState({path:'donate'}, '', 'donate');
			updateTemplate('donate');
			// send ga pageview
			ga('send', 'pageview', '/donate');
		} else {
			getNewFact();
		};
	};

	// Calls for a new fact, checks if it's already been seen. If not, update the template, if so, get another
	function getNewFact(callback){
		$.get('/random',function(data){
			if ($.inArray(data,visited) != -1 || data == 'donate') {
				getNewFact();
			} else {
				visited.push(data);
				history.pushState({path:data}, '', data);
				updateTemplate(data);
				// send ga pageview
				ga('send', 'pageview', '/'+data);
			}
		});
	};

	// Take a fact ID and update the template
	function updateTemplate(entryID){
		console.log('updateTemplate');
		$('.card').load("/html/"+entryID,function(){
			$(".fa-refresh, .footer").hover(
				function(){$('.fa-refresh').css('color',newColor)},
				function(){$('.fa-refresh').css('color','white')}
			);
			
			$(".story").hover(
				function(){$('.story').css('color',newColor)},
				function(){$('.story').css('color','white')}
			);
			$(".social .fa").hover(
				function(){$(this).css('color',newColor)},
				function(){$(this).css('color','white')}
			);
			$(".fa-camera").hover(
				function(){$(this).css('color',newColor)},
				function(){$(this).css('color','white')}
			);
			$('body,.modal-content').css({
	        	'background-color': newColor
	    	});
	    	$('.next').trigger('mouseenter');

	    	$('.fa-camera').click(function(){
				console.log('photo click');
				var image = $(this).data("image") 
				$('#photoModal .modal-content').css('background-image', 'url(' + image + ')');
				$('#photoModal').modal()
			});

			// $('.fa-camera').click(function(){
			// 	console.log('photo time');
			// 	resizePhoto();
			// 	$('.fact-photo').toggle();  
			// 	$('.fact').toggle();
			// })

			resizeText();
				
		});
		
	};
	
	$('.story').click(function() {
		// send analytics event when clicking to full story or donation page
		if (factID == "donate") {
			gaLabel = "donate";
		} else {
			gaLabel =	"full story";		
		}
		ga('send', 'event', 'Curious City Facts', 'click', gaLabel, {'page': '/'+factID});
	})
	
	$('.fa-twitter').click(function() {
		// send analytics event when clicking to share via twitter
		ga('send', 'event', 'Curious City Facts', 'click', 'twitter', {'page': '/'+factID});		
	});
	
	$('.fa-facebook').click(function() {
		// send analytics event when clicking to share via facebook
		ga('send', 'event', 'Curious City Facts', 'click', 'facebook', {'page': '/'+factID});		
	});	
	
	$('.fa-envelope').click(function() {
		// send analytics event when clicking to share via email
		ga('send', 'event', 'Curious City Facts', 'click', 'email', {'page': '/'+factID});		
	});

	$('.modal-btn').click(function(){
		$('.modal').modal('toggle');
	})

	$('.fa-camera').click(function(){
		console.log('photo click');
		var image = $(this).data("image"); 
		$('#photoModal .modal-content').css('background-image', 'url(' + image + ')');
		$('#photoModal').modal();
		// send analytics event when clicking on image modal
		ga('send', 'event', 'Curious City Facts', 'click', 'picture modal', {'page': '/'+factID});		
	});

	var resizeText = function() {

		var cheight = $(window).outerHeight() - $('.header').outerHeight( true ) - $('.logo').outerHeight( true ) - $('.social').outerHeight( true ) - $('.next').outerHeight( true );

		heightBuffer = cheight-(cheight/4);
		console.log(cheight);

		// Resize if text is bigger than div
	    while( ($('.fact').outerHeight() > cheight) && (cheight > 0) && (parseInt($('.fact').css('font-size'))>8)) {
	    	console.log('resize big');
	        $('.fact').css('font-size', (parseInt($('.fact').css('font-size')) - 1) + "px" );
	    }
	    // Resize if text is smaller than div - buffer
	    while( ($('.fact').outerHeight() < heightBuffer) && (cheight > 0) && (parseInt($('.fact').css('font-size'))<64)) {
	    	console.log('resize small');
	        $('.fact').css('font-size', (parseInt($('.fact').css('font-size')) + 1) + "px" );
	    }

	    console.log(($('.fact').outerHeight() < cheight), (cheight > 0), (parseInt($('.fact').css('font-size'))<72));
	};

	resizeText();

	var resizePhoto = function () {
		var cwidth = $('.container').width();
		var cheight = $(window).height() - $('.header').outerHeight( true ) - $('.logo').outerHeight( true ) - $('.next').outerHeight( true ) - $('.social').outerHeight( true );
		var ratio = $('.fact-photo').height()/$('.fact-photo').width();
		console.log("Width, height and ratio are "+cwidth,cheight,ratio);
		if (cheight > cwidth) {
			$('.fact-photo').width(cwidth);
			$('.fact-photo').height(cwidth*ratio);
		} else {
			$('.fact-photo').width(cheight/ratio);
			$('.fact-photo').height(cheight);
		}
	};

	$('.initiator').on('mouseenter mouseleave', function(e) {
	    $('.receiver').trigger(e.type);
	})

	$( window ).resize(function() {
		resizeText();
	});

	window.addEventListener('popstate', function(event) {
	  console.log(event.state);
	  updateTemplate(event.state.path)
	});
	
	$('.next').focus(function(){
		console.log('next focus');
	});
});

</script>



{% endblock %}