<div class="fact picture" id="{{data.ID}}">
  {%if data.Image %}<i class="fa fa-camera" data-image="{{data.Image}}" data-image="{{data.Image}}"></i>{% endif %}
	{%if data.FactText %}{{data.FactText}}{% endif %}
</div>
{% include 'social.html' %}

<!-- Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-caption">
            <div class="caption-text">{{data.ImageCredit}}</div>
        </div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>