<div class="social">
	<a href="http://twitter.com/home?status={{data.FactTweet}} http://curiousfacts.com{{request.path}}" data-url="{{data.FactTweet}}" "pull right"><i class="fa fa-twitter"></a></i>
	<a href="https://www.facebook.com/sharer/sharer.php?u=http://curiousfacts.com{{request.path}}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="mailto:Subject=Cool%20fact%20from%20Curious%20City"><i class="fa fa-envelope"></i></a><br>
	<a class="story btn btn-default" href="{{data.StoryUrl}}" target="_blank" role="button">FULL STORY</button></a>
</div>