<div class="social">
	<a href="http://twitter.com/home?status={{data.FactTweet}} http://curiousfacts.wbez.org/{{data.ID}}" data-url="{{data.FactTweet}}" "pull right" target="_blank"><i class="fa fa-twitter"></a></i>
	<a href="https://www.facebook.com/sharer/sharer.php?u=http://curiousfacts.wbez.org/{{data.ID}}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="{{email}}"><i class="fa fa-envelope"></i></a><br>
	<a class="story" href="{{data.StoryUrl}}" target="_blank">{{data.FactTease}}</a>
</div>